@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #eebd2b;
  --color-background-light: #f8f7f6;
  --color-background-dark: #0a0a0a;
  --color-sidebar-dark: #1a1a1a;
  --color-surface-dark: #141414;
  /* Slight elevated hue for inner widgets */

  --color-white-1: hsl(0, 0%, 100%);
  --color-white-2: hsl(0, 0%, 98%);
  --color-light-gray: hsl(0, 0%, 84%);
  --color-light-gray-70: hsla(0, 0%, 84%, 0.7);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}